<footer class="page_footer">
    <div class="footer_container">
        <div class="footer_container_contact_text">
            <div class="footer_container_contact">
                <h2>Contact</h2>
                <ul>
                    <li>Mail : Pleed.contacteznous@en.fr</li>
                    <li>Adresse : 2 avenue le George 75000 Paris</li>
                    <li>Responsables : Mr.Sanchez, Mr.Troude,
                        Mr.Zuo et Mr.Taibi</li>
                    <li>Retrouvez-nous sur nos réseaux :</li>
                    <ul class="social_links">
                        <li class="social_link"><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li class="social_link"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social_link"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </ul>
            </div>
            <div class="footer_container_navigation">
                <h2>Navigation</h2>
                <ul>
                    <li><a href="http://pleed.local/polls">Questionnaire</a></li>
                    <li><a href="http://pleed.local/homepage">Accueil</a></li>
                    <li><a href="http://pleed.local/formations">Formations</a></li>
                    <li><a href="http://pleed.local/statistique">Statistiques</a></li>
                    <li><a href="http://pleed.local/confidentiality">Confidentialité</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_container_image">
            <img src="/images/image_footer.png" alt="footer image with people for decoration">
        </div>
    </div>
</footer>