<header class="page_header">
    <div class="header_container">
        <div class="header_logo">
            <img class="logo_logo" src="/images/new_logo2.png" alt="pleed page logo">
        </div>
        <div class="header_list">
            <ul class="header_list_elements">
                <li class="header_list_element"><a href="http://pleed.local/homepage">Accueil</a> </li>
                <li class="header_list_element"><a href="http://pleed.local/polls">Questionnaires</a> </li>
                <li class="header_list_element"><a href="http://pleed.local/formations">Formations</a> </li>
                <li class="header_list_element"><a href="http://pleed.local/statistique">Statistiques</a></li>
                <li class="header_list_element"><i class="fas fa-bars"></i></li>
            </ul>
        </div>
    </div>
</header>