<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <script src="/kaiest.fontawesome.com/3094181a4f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;535;552&family=Rubik&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="header">
        <img src="images/new_logo.png">
        <a href="http://pleed.local/login">Se connecter</a>
    </div>
    
    <div class="first-part">
        
        <img class="pleed" src="images/pleed.png">
        <h1>LA PLATEFORME DE GESTION DE PROJET</h1>
        
        <img class="both-person" src="images/both-person.png">
        <div class="contain-woman-image">
            <img class="woman" src="images/woman.png">
            
        </div>
        
        <div class="contain-image-stat">
            <img class="stat" src="images/stat.png">
            
        </div>
        
        
        
        <div class="contain-man-image">
            <img class="man" src="images/man.png">
            
        </div>
        
    </div>
    
    
    <div class="second-part">
        <div class="contain-text">
            <h2>LA PLATEFORME</h2>
            <br>
            <div class="separator"></div>
            <p>
                Pleed est une plateforme qui a pour objectif de vous aider dans la gestions de vos projets, que ce soit au niveau de l’organisation ou par rapport au gain de temps. 
                Grâce à un système de statistique, de questionnaires, de formations et de formulaires, la gestions de vos projets sera un jeu d’enfants pour vous et toute votre équipe.<br><br>
                <span style="color: black;">“ La gestion est un art, nous en sommes les artistes”</span></p>
            </div>
            
            <div class="contain-image-computer">
                <img src="images/computer.png">
                
            </div>
            
            
        </div>
        
        <div class="contain-all-person">
            <div class="container">
                <img class="picture-man3"src="images/man3.png">
                <img class="picture-woman3" src="images/woman3.png">
                <img class="picture-woman2" src="images/woman2.png">
                <img class="man-glasses" src="images/man2.png">
            </div>
            <div class="contain-text2">
                <h2>NOTRE ÉQUIPE</h2>
                <br>
                <div class="separator2"></div>
                <p>
                    Pleed à été créer par 8 personnes, qui avait comme objectif de rendre la gestions de projets plus simple et moins prise de tête . Ayant tous connu des situations de prise de tête par rapport à des expériences professionnelles personnelles,
                    ils ont décidé de trouver une solution  qui se nomma Pleed.</p>
                </div>
                
            </div>
            
            <div class="third-part">
                <div class="text-contact">
                    <h2>CONTACT</h2>
                    <br>
                    <div class="separate"></div>
                    <p>
                        N’hésitez pas à nous contacter pour
                        toute éventuelle question par rapport à notre plateforme Pleed.</p>
                        <ul>
                            <li><i class="far fa-envelope"></i>&nbsp;pleed@epiagency.fr&nbsp;</li>
                            <li><i class="fas fa-mobile-alt"></i> 01 56 42 77 38 </li>
                            
                            
                        </ul>
                    </div>
                    <div class="image-both-person">
                        <img src="images/both-person2.png">
                    </div>
                    
                </div>
                
                <div class="footer">
                    <div class="first-list">
                        <ul>
                            
                            <li>Accueil</li>
                            <li>La plateforme</li>
                            <li>Notre équipe</li>
                            <li>Contact</li>
                            
                        </ul>
                    </div>
                    <div class="second-list">
                        <ul>
                            
                            <li>pleed@epiagency.fr</li>
                            <li>01 56 42 77 38 </li>
                            <li>Nous suivre :</li>
                            <li><i class="fab fa-linkedin-in"></i>&nbsp;<i class="fab fa-twitter"></i>&nbsp;<i class="fab fa-facebook-f"></i></li>
                            
                        </ul>
                    </div>
                    
                </div>
            </body>
            
            </html>